.login {
  width: 100%;
  font-size: var(--font-h4);
  border: 1px solid transparent;
  color: var(--color-muted);
  font-weight: var(--weight-bold);
  padding: 12px 32px;
  transition: all 0.2s ease;
  box-shadow: none;
}

