.reserve-turn {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
}

.reserve-turn__container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.reserve-turn__title {
  color: var(--color-primary);
  font-size: var(--font-h1);
}

.reserve-turn__subtitle {
  font-size: var(--font-h4);
}

.reserve-turn__actions {
   display: none;
  gap: 20px;
}


/* Tablet/Desktop */
@media (min-width: 800px) {
  .reserve-turn__actions {
    display: flex;
    gap: 20px;
  }

  .reserve-turn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
}
}