.header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.header__container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__title {
  color: var(--color-primary);
  font-size: var(--font-h1);
}

.header__actions {
  display: none;
  gap: 20px;
  align-items: center;
}

.header__menu-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tablet/Desktop */
@media (min-width: 800px) {
  .header__actions {
    display: flex;
  }

  .header__menu-button {
    display: none;
  }
}