.payment {
  margin-top: 30px;
}

.payment__subtitle {
  font-size: var(--font-body);
  letter-spacing: 4px;
  font-weight: var(--weight-bold);
  margin-bottom: 10px;
}

.payment__price {
  font-size: var(--font-h2);
  font-weight: var(--weight-bold);
  margin-bottom: 20px;

}

.payment__button {
  width: 100%;
  padding: 18px 24px;
  background-color: var(--color-primary);
  color: white;
  font-size: var(--font-h4);
  font-weight: var(--weight-bold);
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.payment__button:hover {
  background-color: #00684f;
}

.payment__icon {
  font-size: var(--font-h4);
}